/*general stales*/
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*header*/
.header-first-part {
  color: #2196f3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.header-last-part {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-nav-studio,
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.header-nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
/*hero*/
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
}
.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #ffffff;
}
/*about*/
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}
.about-title-after {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
}
/*work n*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height:calc(42 / 36);
  color: #212121;
}
/*наша команда*/
.komand-title {
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
color: #212121;
}
.komand-title-after {
font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
color: #212121;
}
.komand-after {
font-weight: 400;
font-size: 16px;
line-height: calc(19 / 16);
color: #757575;
}
.address-title {
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
.address-mail {
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}
.address-tel {
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}